@import "tailwindcss";

@theme {
  --font-heading: "Cinzel", serif;
  --font-body: "Montserrat", sans-serif;
  --color-beige-lino: #F5F1E9;
  --color-verde-cipres: #3D4B3A;
  --color-marron-carbon: #2C2621;
  --color-oro-champagne: #C5A059;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-beige-lino);
  color: var(--color-marron-carbon);
}
